[submodule "sqlite_cpp"]
	path = sqlite_cpp
	url = https://github.com/anaserkinov/sqlite_cpp.git
[submodule "tgbot_fragment"]
	path = tgbot_fragment
	url = https://github.com/anaserkinov/tgbot_fragment.git
[submodule "src/tgbot_fragment_db_impl"]
	path = src/tgbot_fragment_db_impl
	url = https://github.com/anaserkinov/tgbot_fragment_db_impl.git
