[submodule "src/tgbot_fragment_db_impl"]
	path = src/tgbot_fragment_db_impl
	url = https://github.com/anaserkinov/tgbot_fragment_db_impl.git
[submodule "libs/tgbot_fragment"]
	path = libs/tgbot_fragment
	url = https://github.com/anaserkinov/tgbot_fragment.git
[submodule "shared/sqlite_cpp"]
	path = shared/sqlite_cpp
	url = https://github.com/anaserkinov/sqlite_cpp.git
[submodule "shared/libgit2"]
	path = shared/libgit2
	url = https://github.com/libgit2/libgit2.git
